.searchForm {
    .formActions {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 24px;
    }

    :global {
        .ant-form-item {
            margin-bottom: 16px;
        }

        .ant-space {
            width: 100%;
            gap: 16px !important;

            .ant-input-number {
                width: 100%;
            }
        }
    }
} 