.liquidityPools {
    height: 100%;
    background-color: var(--color-bg-container);

    .content {
        padding: 24px;
        height: 100%;
        overflow: auto;

        .statistics {
            margin-bottom: 24px;

            :global(.ant-card) {
                height: 100%;
            }
        }

        .poolIcons {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                
                &:nth-child(2) {
                    margin-left: -8px;
                    border: 2px solid var(--color-bg-container);
                }
            }
        }
    }
} 