@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  font-family: "Inter", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
  height: 10px;
  /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-bg-layout);
  /* Background of the track */
  border-radius: 5px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  /* Color of the thumb */
  border-radius: 5px;
  /* Rounded corners for thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  /* Change color on hover */
}